!results/renumberedcounts/*.csv
!results/renumberedcounts/*.pdf
!results/fracsurviveaboveavg/*.csv
!results/fracsurviveaboveavg/*.pdf
!results/plots/
!results/summary/*
results/codoncounts
results/fracsurvive
results/FASTQ_files
run.sbatch
slurm*
*.pyc
*.log
.*
!.gitignore
